<div class="container text-center">
    <h1>About Page</h1>
    <p>We are DevMatch. Our company focuses on creating an exclusive community for developers and entrepreneurs to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi fuga nulla enim quam dolor dolorem expedita, molestias delectus quia unde, laboriosam ipsum veritatis non recusandae magnam culpa ut nisi modi?</p>
</div>